body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Very dark grey background */
    color: #00ffcc; /* Bright blue with a bit of green letters */
}

a {
    color: #00ffcc; /* Bright blue with a bit of green letters */
    text-decoration: none;
}

.header {
    height: 50vh;
    background-color: black;
}

.projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.projects-list ul {
    list-style-type: none;
    padding: 0;
}

.projects-list li {
    margin: 10px 0;
}

.projects-list a {
    text-decoration: none;
    font-size: 18px;
}
